.res-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bck-color);
  .res-container {
    height: 100%;
    min-height: 45vh;
    width: 90%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    h1{
      font-size: 24px;
    }
    .txt{
      display: flex;
      flex-direction: column;
      gap: 20px;
      h2{
        font-size: 18px;
      }
      p{
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 768px) {
  .res-wrapper{
    .res-container{
      padding: 20px 0;
      h1{
        font-size: 20px;
      }
      .txt{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2{
          font-size: 16px;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
}