.products-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bck-color);

  ::-webkit-scrollbar {
    display: none;
  }

  .products-wrapper-inner {
    width: 90%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    max-width: 1920px;

    .expand-icon {
      background-color: transparent;
      border: none;

      img {
        height: 10px;
      }
    }
    .filter{
      width: 25%;
    }
    .filter-wrapper {
      position: sticky;
      width: 100%;
      // height: 100vh;
      // overflow: auto;
      height: max-content;
      border-radius: 10px;
      display: flex;
      justify-content: center;

      .filter-container {
        border-radius: 10px;
        width: 90%;
        height: max-content;
        padding: 20px 20px 0 20px;
        background-color: #fff;

        .filter-inner {
          border-bottom: 1px solid var(--dark-color);
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          button {
            cursor: pointer;
          }

          .price-content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
              padding: 0 10px;
              border: 1px solid var(--dark-color);
              background-color: transparent;
              height: 50px;
              width: 40%;
              border-radius: 50px;
              cursor: default;
            }
          }

          .content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 10px;

            button {
              padding: 0 10px;
              border: 1px solid var(--dark-color);
              background-color: transparent;
              height: 50px;
              min-width: 30%;
              border-radius: 50px;

              &.active {
                background-color: var(--primary-color);
              }
            }
          }
        }

        .filter-inner-btns {
          width: calc(100% + 40px);
          margin-left: -20px;
          margin-bottom: -20px;

          .btns {
            width: 100%;
            height: 60px;
            border: none;
            padding: 20px;
            cursor: pointer;
            font-size: 14px;
            background-color: var(--primary-color);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }

    .products-container {
      width: 70%;
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 50px;

      .filter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--dark-color);

        .ordering {
          height: 60px;
        }
      }
    }
  }

  .pagination-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .pagination {
      display: flex;
      gap: 10px;

      button {
        height: 50px;
        width: 50px;
        border: 1px solid var(--darker-color);
        border-radius: 50px;
        cursor: pointer;
      }

      button:active {
        background-color: var(--primary-color);
      }
    }
    .break {
      .page-link {
        border: none;
        cursor: default;
        color: #000;
      }
    }
  }
}

@media (max-width: 1540px) {
  .products-wrapper {
    .products-wrapper-inner {
      margin: 50px 0;

      .expand-icon {
        img {
          height: 10px;
        }
      }

      .filter-wrapper {
        .filter-container {
          padding: 20px;

          .filter-inner-btns {
            width: calc(100% + 40px);
            margin-left: -20px;
            margin-bottom: -20px;
          }

          .filter-inner {
            .price-content {
              button {
                padding: 0 10px;
                height: 50px;
              }
            }

            .content {
              button {
                padding: 0 10px;
                height: 50px;
              }
            }
          }
        }
      }

    }

    .pagination-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination {
        display: flex;
        gap: 10px;

        button {
          height: 50px;
          width: 50px;
          border: 1px solid var(--darker-color);
          border-radius: 50px;
          cursor: pointer;
        }

        button::active {
          background-color: var(--primary-color);
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .products-wrapper {
    .products-wrapper-inner {
      margin: 40px 0;

      .expand-icon {
        img {
          height: 8px;
        }
      }

      .filter-wrapper {
        .filter-container {
          padding: 15px;

          .filter-inner-btns {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-bottom: -15px;

            .btns {
              height: 50px;
            }
          }

          .filter-inner {
            .price-content {
              button {
                height: 40px;
              }
            }

            .content {
              button {
                height: 40px;
              }
            }
          }
        }
      }

      .products-container {
        gap: 40px;

      }
    }
  }
}

@media (max-width: 1080px) {
  .products-wrapper {
    .products-wrapper-inner {
      .filter-wrapper {
        .filter-container {
          .filter-inner-btns {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-bottom: -30px;

            .btns {
              height: 80px;
            }
          }

          .filter-inner {
            .price-content {
              button {
                height: 40px;
              }
            }

            .content {
              button {
                height: 40px;
              }
            }
          }
        }
      }

      .products-container {
        gap: 40px;
      }
    }
  }
}

@media (max-width: 768px) {
  .products-wrapper {
    .products-wrapper-inner {
      width: 90%;
      margin: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      .expand-icon {
        img {
          height: 8px;
        }
      }

      .filter-wrapper {
        width: 100%;

        .filter-container {
          padding: 15px;

          .filter-inner {
            .btns {
              height: 50px;
            }

            .price-content {
              button {
                height: 40px;
              }
            }

            .content {
              button {
                height: 40px;
              }
            }
          }
        }
      }

      .products-container {
        width: 100%;
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;

        .filter {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid var(--dark-color);

          .ordering {
            height: 60px;
          }
        }
      }
    }

    .pagination-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination {
        display: flex;
        gap: 10px;

        button {
          height: 50px;
          width: 50px;
          border: 1px solid var(--darker-color);
          border-radius: 50px;
          cursor: pointer;
        }

        button::active {
          background-color: var(--primary-color);
        }
      }
    }
  }
}
